.button {
  display: inline-block;
  border-radius: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1em 5em;
  background-image: linear-gradient(90deg, #65e2d9 4%, hsl(198, 60%, 50%) 100%);
  transition: background 0.5s ease;
  cursor: pointer;
  color: inherit;
}
.button:hover {
  background-image: linear-gradient(90deg, #65e2d9 60%, #339ecc 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  min-height: 100vh;
}
html body {
  min-height: inherit;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  display: flex;
  color: white;
  background-color: #1C2431;
}

.wrapper {
  width: 100%;
  display: grid;
  grid-template-rows: minmax(auto, 120px) 1fr minmax(auto, 80px);
  grid-template-areas: "header" "main" "footer";
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  grid-area: header;
  display: grid;
  grid-template: 1fr/1fr minmax(auto, 300px) minmax(auto, 1000px) 1fr;
  padding: 50px 20px 0;
  align-items: center;
}
.header__logo {
  grid-column: 2/3;
  height: 40px;
}
.header__logo img {
  max-height: 100%;
}
.header__menu {
  grid-column: 3/4;
}
.header__list {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  justify-items: end;
  column-gap: 50px;
  align-items: center;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.intro {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 50%) 1fr;
  grid-auto-flow: row;
  text-align: center;
  row-gap: 2em;
  padding-bottom: 10%;
  background-image: url(/images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
.intro > * {
  grid-column: 2/3;
}
.intro__illustration img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.intro__title {
  font-size: 2.5rem;
  font-weight: 700;
}
.intro__paragraph {
  font-size: 1.3rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.intro__title, .intro__paragraph {
  line-height: 1.5em;
}
.intro__started {
  display: flex;
  padding: 1.5em 0;
  justify-content: center;
  align-items: center;
}

.features {
  background-color: #181F2A;
  display: grid;
}
.features__wrapper {
  display: grid;
  max-width: 1100px;
  width: 100%;
  gap: 4em 1em;
  max-width: 1100px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.features__item {
  text-align: center;
}
.features__title {
  margin-top: 1.5em;
  font-weight: 700;
  font-size: 1.5rem;
}
.features__paragraph {
  max-width: 400px;
  margin-top: 1.2em;
  font-family: "Open Sans", sans-serif;
  opacity: 0.8;
}
.features .image-wrapper {
  max-width: 100%;
}
.features .image-wrapper img {
  height: 70px;
}

.productive {
  display: grid;
  background-color: #181F2A;
}
.productive__wrapper {
  display: grid;
  grid: 1fr/1fr 1fr;
  column-gap: 3em;
  min-height: 90vh;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
.productive__image {
  justify-self: end;
  align-self: center;
}
.productive__image img {
  max-width: 100%;
}
.productive__title {
  font-weight: 700;
  font-size: 2.5rem;
  max-width: 60%;
}
.productive__paragraph {
  font-size: 1.1rem;
  opacity: 0.8;
  max-width: 80%;
}
.productive__content {
  display: grid;
  grid-auto-flow: row;
  row-gap: 1em;
  align-content: center;
  padding: 0 2em;
}

.footer {
  background-color: #0B1523;
}

/*# sourceMappingURL=style.css.map */
